/* CUSTOM CHECKBOX AGREEMENT */
.checkbox-container {    
    margin-bottom: 30px;
}

.m-window-custom-checkbox::before {
    display: inline-block;
    content: " ";
    width: 16px;
    height: 15px;
    border: 1px solid var(--titles-color);
    border-radius: 2px;
    cursor: pointer;
}

.m-window-custom-checkbox::before:focus {
    border: 1px solid var(--spec-accent-color);
}

.m-window-terms-agreement {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.agreement-position {
    margin-left: 7px;
}

.m-window-terms-agreement-link {
    color: var(--spec-accent-color);
    padding-left: 4px;
}

.m-window-input-checkbox:checked + .m-window-custom-checkbox::before {
    background-image: url(../sprite/m-window-icon-check.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}
/* END of CUSTOM CHECKBOX AGREEMENT */